[package]
name = "rotappo"
version = "0.0.1"
edition = "2024"

[workspace]
members = [
  ".",
  "crates/core/rotappo-domain",
  "crates/core/rotappo-ports",
  "crates/core/rotappo-application",
  "crates/core/rotappo-adapter-bootstrappo",
  "crates/ui/rotappo-ui-presentation",
  "crates/ui/rotappo-ui-core",
  "crates/ui/rotappo-ui-terminal",
  "crates/ui/rotappo-ui-tui",
]
resolver = "2"

[features]
default = ["ui-core"]
ui-core = ["dep:rotappo-ui-core"]
cli = ["dep:rotappo-ui-terminal"]
tui-ratatui = ["ui-core", "dep:rotappo-ui-tui"]

[[bin]]
name = "terminal"
path = "src/bin/terminal.rs"
required-features = ["cli"]

[[bin]]
name = "tui"
path = "src/bin/tui.rs"
required-features = ["tui-ratatui"]

[dependencies]
anyhow = "1.0.100"
rotappo-adapter-bootstrappo = { path = "crates/core/rotappo-adapter-bootstrappo" }
rotappo-application = { path = "crates/core/rotappo-application" }
rotappo-domain = { path = "crates/core/rotappo-domain" }
rotappo-ui-core = { path = "crates/ui/rotappo-ui-core", optional = true }
rotappo-ui-terminal = { path = "crates/ui/rotappo-ui-terminal", optional = true }
rotappo-ui-tui = { path = "crates/ui/rotappo-ui-tui", optional = true }
