[package]
name = "rotappo"
version = "0.0.1"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
bootstrappo = { path = "../bootstrappo" }
crossterm = "0.28.1"
kube = { version = "2.0.1", features = ["runtime", "client"] }
ratatui = "0.29.0"
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0.128"
tokio = { version = "1.48.0", features = ["rt-multi-thread", "time"] }
