extend = [
  { path = "docs/makefiles/dev.toml" },
  { path = "docs/makefiles/test.toml" },
  { path = "docs/makefiles/prod.toml" },
  { path = "docs/makefiles/cli.toml" },
  { path = "docs/makefiles/crates/core/domain.toml" },
  { path = "docs/makefiles/crates/core/ports.toml" },
  { path = "docs/makefiles/crates/core/application.toml" },
  { path = "docs/makefiles/crates/core/adapter/bootstrappo.toml" },
  { path = "docs/makefiles/crates/ui/presentation.toml" },
  { path = "docs/makefiles/crates/ui/core.toml" },
  { path = "docs/makefiles/crates/ui/terminal.toml" },
  { path = "docs/makefiles/crates/ui/tui.toml" },
]

[config]
skip_core_tasks = true
