[Unit]
Description=Phenome TUI
After=network.target

[Service]
ExecStart=%h/.cargo/bin/phenome tui
Restart=on-failure

[Install]
WantedBy=multi-user.target
